# Pandas

In [1]:
import pandas as pd

In [2]:
# We can create a DataFrame manually
df = pd.DataFrame({"name": ["Einstein", "Turing", "Nash"],
 "birth_year": [1879, 1912, 1928]})

df

       name  birth_year
0  Einstein        1879
1    Turing        1912
2      Nash        1928

In [3]:
#importer un fichier


df = pd.read_csv('imdb_1000.csv')
df

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."
...,...,...,...,...,...,...
974,7.4,Tootsie,PG,Comedy,116,"[u'Dustin Hoffman', u'Jessica Lange', u'Teri G..."
975,7.4,Back to the Future Part III,PG,Adventure,118,"[u'Michael J. Fox', u'Christopher Lloyd', u'Ma..."
976,7.4,Master and Commander: The Far Side of the World,PG-13,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo..."
977,7.4,Poltergeist,PG,Horror,114,"[u'JoBeth Williams', u""Heather O'Rourke"", u'Cr..."
978,7.4,Wall Street,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar..."

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 979 entries, 0 to 978
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   star_rating     979 non-null    float64
 1   title           979 non-null    object
 2   content_rating  976 non-null    object
 3   genre           979 non-null    object
 4   duration        979 non-null    int64
 5   actors_list     979 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 46.0+ KB

In [7]:
df.head(10)

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."
5,8.9,12 Angry Men,NOT RATED,Drama,96,"[u'Henry Fonda', u'Lee J. Cobb', u'Martin Bals..."
6,8.9,"The Good, the Bad and the Ugly",NOT RATED,Western,161,"[u'Clint Eastwood', u'Eli Wallach', u'Lee Van ..."
7,8.9,The Lord of the Rings: The Return of the King,PG-13,Adventure,201,"[u'Elijah Wood', u'Viggo Mortensen', u'Ian McK..."
8,8.9,Schindler's List,R,Biography,195,"[u'Liam Neeson', u'Ralph Fiennes', u'Ben Kings..."
9,8.9,Fight Club,R,Drama,139,"[u'Brad Pitt', u'Edward Norton', u'Helena Bonh..."

In [6]:
df.tail()

,star_rating,title,content_rating,genre,duration,actors_list
974,7.4,Tootsie,PG,Comedy,116,"[u'Dustin Hoffman', u'Jessica Lange', u'Teri G..."
975,7.4,Back to the Future Part III,PG,Adventure,118,"[u'Michael J. Fox', u'Christopher Lloyd', u'Ma..."
976,7.4,Master and Commander: The Far Side of the World,PG-13,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo..."
977,7.4,Poltergeist,PG,Horror,114,"[u'JoBeth Williams', u""Heather O'Rourke"", u'Cr..."
978,7.4,Wall Street,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar..."

In [11]:
df.describe(include='object')

,title,content_rating,genre,actors_list
count,979,976,979,979
unique,975,12,16,969
top,Dracula,R,Drama,"[u'Daniel Radcliffe', u'Emma Watson', u'Rupert..."
freq,2,460,278,6

In [12]:
df.describe(include='all')

,star_rating,title,content_rating,genre,duration,actors_list
count,979.000000,979,976,979,979.000000,979
unique,NaN,975,12,16,NaN,969
top,NaN,Dracula,R,Drama,NaN,"[u'Daniel Radcliffe', u'Emma Watson', u'Rupert..."
freq,NaN,2,460,278,NaN,6
mean,7.889785,NaN,NaN,NaN,120.979571,NaN
std,0.336069,NaN,NaN,NaN,26.218010,NaN
min,7.400000,NaN,NaN,NaN,64.000000,NaN
25%,7.600000,NaN,NaN,NaN,102.000000,NaN
50%,7.800000,NaN,NaN,NaN,117.000000,NaN
75%,8.100000,NaN,NaN,NaN,134.000000,NaN
max,9.300000,NaN,NaN,NaN,242.000000,NaN

In [16]:
#changer l'index
df = df.set_index('title')

In [17]:
df

,star_rating,content_rating,genre,duration,actors_list
title,,,,,
The Shawshank Redemption,9.3,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
The Godfather,9.2,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
The Godfather: Part II,9.1,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
The Dark Knight,9.0,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
Pulp Fiction,8.9,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."
...,...,...,...,...,...
Tootsie,7.4,PG,Comedy,116,"[u'Dustin Hoffman', u'Jessica Lange', u'Teri G..."
Back to the Future Part III,7.4,PG,Adventure,118,"[u'Michael J. Fox', u'Christopher Lloyd', u'Ma..."
Master and Commander: The Far Side of the World,7.4,PG-13,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo..."
Poltergeist,7.4,PG,Horror,114,"[u'JoBeth Williams', u""Heather O'Rourke"", u'Cr..."
Wall Street,7.4,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar..."

In [22]:
df.reset_index(inplace=True)

In [23]:
df.set_index(['title'], inplace=True)

In [24]:
df

,star_rating,content_rating,genre,duration,actors_list
title,,,,,
The Shawshank Redemption,9.3,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
The Godfather,9.2,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
The Godfather: Part II,9.1,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
The Dark Knight,9.0,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
Pulp Fiction,8.9,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."
...,...,...,...,...,...
Tootsie,7.4,PG,Comedy,116,"[u'Dustin Hoffman', u'Jessica Lange', u'Teri G..."
Back to the Future Part III,7.4,PG,Adventure,118,"[u'Michael J. Fox', u'Christopher Lloyd', u'Ma..."
Master and Commander: The Far Side of the World,7.4,PG-13,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo..."
Poltergeist,7.4,PG,Horror,114,"[u'JoBeth Williams', u""Heather O'Rourke"", u'Cr..."
Wall Street,7.4,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar..."

In [32]:
df.columns

Index(['star_rating', 'content_rating', 'genre', 'duration', 'actors_list'], dtype='object')

In [35]:
df.index

Index(['The Shawshank Redemption', 'The Godfather', 'The Godfather: Part II',
       'The Dark Knight', 'Pulp Fiction', '12 Angry Men',
       'The Good, the Bad and the Ugly',
       'The Lord of the Rings: The Return of the King', 'Schindler's List',
       'Fight Club',
       ...
       'Law Abiding Citizen', 'Wonder Boys', 'Death at a Funeral',
       'Blue Valentine', 'The Cider House Rules', 'Tootsie',
       'Back to the Future Part III',
       'Master and Commander: The Far Side of the World', 'Poltergeist',
       'Wall Street'],
      dtype='object', name='title', length=979)

In [38]:
df['genre'].value_counts()

Drama        278
Comedy       156
Action       136
Crime        124
Biography     77
Adventure     75
Animation     62
Horror        29
Mystery       16
Western        9
Sci-Fi         5
Thriller       5
Film-Noir      3
Family         2
History        1
Fantasy        1
Name: genre, dtype: int64

In [47]:
df[['genre', 'star_rating']].value_counts().head(50)

genre      star_rating
Drama      8.1            36
           7.5            34
           8.0            32
           7.6            30
           7.7            29
           7.8            28
Comedy     7.7            25
Action     7.6            25
Comedy     7.6            23
Action     7.8            21
Drama      7.9            21
Comedy     7.8            20
Crime      7.5            20
Action     7.7            18
Drama      8.2            16
Comedy     7.4            15
Crime      8.1            15
           7.7            15
Comedy     7.5            14
           8.1            14
Crime      7.6            13
Drama      8.3            12
Biography  7.6            12
Drama      7.4            12
Crime      7.8            12
Adventure  8.0            12
Comedy     8.0            12
Action     8.1            12
Biography  7.8            11
Action     7.9            11
Drama      8.4            11
Action     7.5            10
           8.0            10
Adventure  7.8             9
Comedy     7.9             9
Biography  7.9             9
Crime      7.9             9
Animation  7.8             9
           8.0             9
Biography  7.5             8
           8.1             8
           7.7             8
Crime      8.0             8
Animation  7.7             8
Comedy     8.2             8
Crime      8.4             8
Adventure  8.3             8
           8.1             7
Action     8.3             7
Horror     7.5             7
dtype: int64

In [48]:
#Option pandas afficher plus de lignes

pd.set_option('display.max_rows', 500)

In [51]:
df[['genre', 'star_rating']].value_counts()

genre      star_rating
Drama      8.1            36
           7.5            34
           8.0            32
           7.6            30
           7.7            29
           7.8            28
Comedy     7.7            25
Action     7.6            25
Comedy     7.6            23
Action     7.8            21
Drama      7.9            21
Comedy     7.8            20
Crime      7.5            20
Action     7.7            18
Drama      8.2            16
Comedy     7.4            15
Crime      8.1            15
           7.7            15
Comedy     7.5            14
           8.1            14
Crime      7.6            13
Drama      8.3            12
Biography  7.6            12
Drama      7.4            12
Crime      7.8            12
Adventure  8.0            12
Comedy     8.0            12
Action     8.1            12
Biography  7.8            11
Action     7.9            11
Drama      8.4            11
Action     7.5            10
           8.0            10
Adventure  7.8             9
Comedy     7.9             9
Biography  7.9             9
Crime      7.9             9
Animation  7.8             9
           8.0             9
Biography  7.5             8
           8.1             8
           7.7             8
Crime      8.0             8
Animation  7.7             8
Comedy     8.2             8
Crime      8.4             8
Adventure  8.3             8
           8.1             7
Action     8.3             7
Horror     7.5             7
Drama      8.5             7
Adventure  7.4             7
Crime      8.2             7
Biography  8.0             6
Adventure  7.5             6
Animation  7.6             6
Comedy     8.4             6
Animation  7.9             6
Horror     7.6             6
Adventure  7.6             6
Biography  8.2             5
Adventure  7.9             5
           7.7             5
Horror     8.0             5
Animation  8.2             5
Crime      7.4             4
Drama      8.7             4
Mystery    8.1             4
Action     7.4             4
Comedy     8.3             4
Action     8.2             4
Animation  7.5             4
Action     8.4             4
Animation  8.1             4
Crime      8.3             3
Drama      8.6             3
Adventure  8.4             3
Mystery    7.5             3
Animation  8.3             3
           8.4             3
Action     8.5             3
Comedy     8.5             3
           8.6             3
Biography  7.4             3
Animation  7.4             2
Drama      8.9             2
Action     8.7             2
           8.8             2
Horror     8.5             2
Adventure  8.2             2
Horror     8.2             2
Western    8.3             2
Adventure  8.8             2
Animation  8.5             2
Western    8.1             2
Biography  8.3             2
Thriller   7.5             2
Horror     7.7             2
           7.8             2
Crime      8.7             2
           8.6             2
           8.5             2
Action     8.6             2
Mystery    7.8             1
           7.9             1
           8.4             1
           8.2             1
           8.3             1
Sci-Fi     8.0             1
Mystery    8.5             1
           8.6             1
Sci-Fi     7.7             1
           7.8             1
           7.9             1
           8.2             1
Thriller   7.6             1
           7.8             1
           8.0             1
Western    7.6             1
           7.9             1
           8.5             1
           8.6             1
Mystery    7.6             1
Film-Noir  7.7             1
Mystery    7.4             1
Horror     8.6             1
Biography  8.9             1
           8.7             1
           8.6             1
           8.5             1
           8.4             1
Animation  8.6             1
Crime      8.9             1
           9.1             1
           9.2             1
           9.3             1
Adventure  8.9             1
           8.7             1
           8.5             1
Action     9.0             1
Drama      8.8             1
Family     7.8             1
           7.9             1
Fantasy    7.7             1
Film-Noir  8.1             1
           8.3             1
History    8.0             1
Horror     7.4             1
           7.9             1
Western    8.9             1
dtype: int64

In [52]:
#describe


df.describe()

       star_rating    duration
count   979.000000  979.000000
mean      7.889785  120.979571
std       0.336069   26.218010
min       7.400000   64.000000
25%       7.600000  102.000000
50%       7.800000  117.000000
75%       8.100000  134.000000
max       9.300000  242.000000

In [53]:
df['star_rating'].mean()

7.889785495403474

In [54]:
df['star_rating'].median()

7.8

In [55]:
df['star_rating'].min(), df['star_rating'].max()

(7.4, 9.3)

In [56]:
df['genre'].unique()

array(['Crime', 'Action', 'Drama', 'Western', 'Adventure', 'Biography',
       'Comedy', 'Animation', 'Mystery', 'Horror', 'Film-Noir', 'Sci-Fi',
       'History', 'Thriller', 'Family', 'Fantasy'], dtype=object)

In [57]:
df['genre'].nunique() #numbers

16

In [67]:
count_values = df['genre'].value_counts()
count_values

Drama        278
Comedy       156
Action       136
Crime        124
Biography     77
Adventure     75
Animation     62
Horror        29
Mystery       16
Western        9
Sci-Fi         5
Thriller       5
Film-Noir      3
Family         2
History        1
Fantasy        1
Name: genre, dtype: int64

In [61]:
type(count_values)

pandas.core.series.Series

In [63]:
count_values.index

Index(['Drama', 'Comedy', 'Action', 'Crime', 'Biography', 'Adventure',
       'Animation', 'Horror', 'Mystery', 'Western', 'Sci-Fi', 'Thriller',
       'Film-Noir', 'Family', 'History', 'Fantasy'],
      dtype='object')

In [66]:
count_values.values

array([278, 156, 136, 124,  77,  75,  62,  29,  16,   9,   5,   5,   3,
         2,   1,   1])

In [72]:
type(df['star_rating'])

pandas.core.series.Series

In [71]:
type(df['star_rating'].values)

numpy.ndarray

#  datas selections

In [ ]:
# Iloc pour index

In [77]:
df.iloc[:,2]

title
The Shawshank Redemption                               Crime
The Godfather                                          Crime
The Godfather: Part II                                 Crime
The Dark Knight                                       Action
Pulp Fiction                                           Crime
                                                     ...
Tootsie                                               Comedy
Back to the Future Part III                        Adventure
Master and Commander: The Far Side of the World       Action
Poltergeist                                           Horror
Wall Street                                            Crime
Name: genre, Length: 979, dtype: object

In [80]:
df.iloc[20] #ligne 21

star_rating                                                     8.7
content_rating                                                    R
genre                                                        Action
duration                                                        136
actors_list       [u'Keanu Reeves', u'Laurence Fishburne', u'Car...
Name: The Matrix, dtype: object

In [82]:
df.iloc[:, [2, 0, 3]]

,genre,star_rating,duration
title,,,
The Shawshank Redemption,Crime,9.3,142
The Godfather,Crime,9.2,175
The Godfather: Part II,Crime,9.1,200
The Dark Knight,Action,9.0,152
Pulp Fiction,Crime,8.9,154
...,...,...,...
Tootsie,Comedy,7.4,116
Back to the Future Part III,Adventure,7.4,118
Master and Commander: The Far Side of the World,Action,7.4,138
Poltergeist,Horror,7.4,114
Wall Street,Crime,7.4,126

In [84]:
df.iloc[:, ['genre']]

IndexError: .iloc requires numeric indexers, got ['genre']

In [ ]:
# .loc pour les clÃ©s

In [85]:
df.loc['Inception', 'genre']

'Action'

In [88]:
df.loc[:, 'genre']

title
The Shawshank Redemption                               Crime
The Godfather                                          Crime
The Godfather: Part II                                 Crime
The Dark Knight                                       Action
Pulp Fiction                                           Crime
                                                     ...
Tootsie                                               Comedy
Back to the Future Part III                        Adventure
Master and Commander: The Far Side of the World       Action
Poltergeist                                           Horror
Wall Street                                            Crime
Name: genre, Length: 979, dtype: object

### si on veut juste afficher une ou plusieur colonnes par besoin de loc ou de iloc

In [89]:
df['genre']

title
The Shawshank Redemption                               Crime
The Godfather                                          Crime
The Godfather: Part II                                 Crime
The Dark Knight                                       Action
Pulp Fiction                                           Crime
                                                     ...
Tootsie                                               Comedy
Back to the Future Part III                        Adventure
Master and Commander: The Far Side of the World       Action
Poltergeist                                           Horror
Wall Street                                            Crime
Name: genre, Length: 979, dtype: object

In [91]:
# Combiner les deux

df.iloc[:10]['genre']

title
The Shawshank Redemption                             Crime
The Godfather                                        Crime
The Godfather: Part II                               Crime
The Dark Knight                                     Action
Pulp Fiction                                         Crime
12 Angry Men                                         Drama
The Good, the Bad and the Ugly                     Western
The Lord of the Rings: The Return of the King    Adventure
Schindler's List                                 Biography
Fight Club                                           Drama
Name: genre, dtype: object

# Filtres (!!!)

In [93]:
df['genre'] == 'Drama'

title
The Shawshank Redemption                           False
The Godfather                                      False
The Godfather: Part II                             False
The Dark Knight                                    False
Pulp Fiction                                       False
                                                   ...
Tootsie                                            False
Back to the Future Part III                        False
Master and Commander: The Far Side of the World    False
Poltergeist                                        False
Wall Street                                        False
Name: genre, Length: 979, dtype: bool

In [96]:
df[df['genre'] == 'Drama'] #tous en une ligne

,star_rating,content_rating,genre,duration,actors_list
title,,,,,
12 Angry Men,8.9,NOT RATED,Drama,96,"[u'Henry Fonda', u'Lee J. Cobb', u'Martin Bals..."
Fight Club,8.9,R,Drama,139,"[u'Brad Pitt', u'Edward Norton', u'Helena Bonh..."
Forrest Gump,8.8,PG-13,Drama,142,"[u'Tom Hanks', u'Robin Wright', u'Gary Sinise']"
One Flew Over the Cuckoo's Nest,8.7,R,Drama,133,"[u'Jack Nicholson', u'Louise Fletcher', u'Mich..."
Seven Samurai,8.7,UNRATED,Drama,207,"[u'Toshir\xf4 Mifune', u'Takashi Shimura', u'K..."
...,...,...,...,...,...
My Sister's Keeper,7.4,PG-13,Drama,109,"[u'Cameron Diaz', u'Abigail Breslin', u'Alec B..."
The English Patient,7.4,R,Drama,162,"[u'Ralph Fiennes', u'Juliette Binoche', u'Will..."
Wonder Boys,7.4,R,Drama,107,"[u'Michael Douglas', u'Tobey Maguire', u'Franc..."
Blue Valentine,7.4,NC-17,Drama,112,"[u'Ryan Gosling', u'Michelle Williams', u'John..."
The Cider House Rules,7.4,PG-13,Drama,126,"[u'Tobey Maguire', u'Charlize Theron', u'Micha..."

In [95]:
pd.set_option('display.max_rows', 20)

In [ ]:
and -> &
or -> |

In [98]:
df[(df['genre'] == 'Drama') & (df['duration'] > 120)]

,star_rating,content_rating,genre,duration,actors_list
title,,,,,
Fight Club,8.9,R,Drama,139,"[u'Brad Pitt', u'Edward Norton', u'Helena Bonh..."
Forrest Gump,8.8,PG-13,Drama,142,"[u'Tom Hanks', u'Robin Wright', u'Gary Sinise']"
One Flew Over the Cuckoo's Nest,8.7,R,Drama,133,"[u'Jack Nicholson', u'Louise Fletcher', u'Mich..."
Seven Samurai,8.7,UNRATED,Drama,207,"[u'Toshir\xf4 Mifune', u'Takashi Shimura', u'K..."
It's a Wonderful Life,8.7,APPROVED,Drama,130,"[u'James Stewart', u'Donna Reed', u'Lionel Bar..."
...,...,...,...,...,...
Across the Universe,7.5,PG-13,Drama,133,"[u'Evan Rachel Wood', u'Jim Sturgess', u'Joe A..."
A Bridge Too Far,7.4,PG,Drama,175,"[u'Sean Connery', u""Ryan O'Neal"", u'Michael Ca..."
Zero Dark Thirty,7.4,R,Drama,157,"[u'Jessica Chastain', u'Joel Edgerton', u'Chri..."
The English Patient,7.4,R,Drama,162,"[u'Ralph Fiennes', u'Juliette Binoche', u'Will..."
The Cider House Rules,7.4,PG-13,Drama,126,"[u'Tobey Maguire', u'Charlize Theron', u'Micha..."

In [100]:
df[(df['genre'] == 'Drama') & (df['duration'] > 120) | (df['genre'] == 'Fantasy')]

,star_rating,content_rating,genre,duration,actors_list
title,,,,,
Fight Club,8.9,R,Drama,139,"[u'Brad Pitt', u'Edward Norton', u'Helena Bonh..."
Forrest Gump,8.8,PG-13,Drama,142,"[u'Tom Hanks', u'Robin Wright', u'Gary Sinise']"
One Flew Over the Cuckoo's Nest,8.7,R,Drama,133,"[u'Jack Nicholson', u'Louise Fletcher', u'Mich..."
Seven Samurai,8.7,UNRATED,Drama,207,"[u'Toshir\xf4 Mifune', u'Takashi Shimura', u'K..."
It's a Wonderful Life,8.7,APPROVED,Drama,130,"[u'James Stewart', u'Donna Reed', u'Lionel Bar..."
...,...,...,...,...,...
Across the Universe,7.5,PG-13,Drama,133,"[u'Evan Rachel Wood', u'Jim Sturgess', u'Joe A..."
A Bridge Too Far,7.4,PG,Drama,175,"[u'Sean Connery', u""Ryan O'Neal"", u'Michael Ca..."
Zero Dark Thirty,7.4,R,Drama,157,"[u'Jessica Chastain', u'Joel Edgerton', u'Chri..."
The English Patient,7.4,R,Drama,162,"[u'Ralph Fiennes', u'Juliette Binoche', u'Will..."
The Cider House Rules,7.4,PG-13,Drama,126,"[u'Tobey Maguire', u'Charlize Theron', u'Micha..."

In [103]:
#tilde ~  -> negation
df[(df['genre'] != 'Drama')]

,star_rating,content_rating,genre,duration,actors_list
title,,,,,
The Shawshank Redemption,9.3,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
The Godfather,9.2,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
The Godfather: Part II,9.1,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
The Dark Knight,9.0,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
Pulp Fiction,8.9,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."
...,...,...,...,...,...
Tootsie,7.4,PG,Comedy,116,"[u'Dustin Hoffman', u'Jessica Lange', u'Teri G..."
Back to the Future Part III,7.4,PG,Adventure,118,"[u'Michael J. Fox', u'Christopher Lloyd', u'Ma..."
Master and Commander: The Far Side of the World,7.4,PG-13,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo..."
Poltergeist,7.4,PG,Horror,114,"[u'JoBeth Williams', u""Heather O'Rourke"", u'Cr..."
Wall Street,7.4,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar..."

In [104]:
#tilde ~  -> negation
df[~(df['genre'] == 'Drama')]

,star_rating,content_rating,genre,duration,actors_list
title,,,,,
The Shawshank Redemption,9.3,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
The Godfather,9.2,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
The Godfather: Part II,9.1,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
The Dark Knight,9.0,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
Pulp Fiction,8.9,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."
...,...,...,...,...,...
Tootsie,7.4,PG,Comedy,116,"[u'Dustin Hoffman', u'Jessica Lange', u'Teri G..."
Back to the Future Part III,7.4,PG,Adventure,118,"[u'Michael J. Fox', u'Christopher Lloyd', u'Ma..."
Master and Commander: The Far Side of the World,7.4,PG-13,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo..."
Poltergeist,7.4,PG,Horror,114,"[u'JoBeth Williams', u""Heather O'Rourke"", u'Cr..."
Wall Street,7.4,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar..."

## Group By

In [116]:
df.groupby('genre')['duration'].mean()

genre
Action       126.485294
Adventure    134.840000
Animation     96.596774
Biography    131.844156
Comedy       107.602564
Crime        122.298387
Drama        126.539568
Family       107.500000
Fantasy      112.000000
Film-Noir     97.333333
History       66.000000
Horror       102.517241
Mystery      115.625000
Sci-Fi       109.000000
Thriller     114.200000
Western      136.666667
Name: duration, dtype: float64

In [117]:
df.groupby('genre')['duration'].mean().sort_values()

genre
History       66.000000
Animation     96.596774
Film-Noir     97.333333
Horror       102.517241
Family       107.500000
Comedy       107.602564
Sci-Fi       109.000000
Fantasy      112.000000
Thriller     114.200000
Mystery      115.625000
Crime        122.298387
Action       126.485294
Drama        126.539568
Biography    131.844156
Adventure    134.840000
Western      136.666667
Name: duration, dtype: float64

In [118]:
df.groupby('genre')['duration'].mean().sort_values(ascending=False)

genre
Western      136.666667
Adventure    134.840000
Biography    131.844156
Drama        126.539568
Action       126.485294
Crime        122.298387
Mystery      115.625000
Thriller     114.200000
Fantasy      112.000000
Sci-Fi       109.000000
Comedy       107.602564
Family       107.500000
Horror       102.517241
Film-Noir     97.333333
Animation     96.596774
History       66.000000
Name: duration, dtype: float64

In [120]:
df[['genre', 'duration']]

                                                     genre  duration
title
The Shawshank Redemption                             Crime       142
The Godfather                                        Crime       175
The Godfather: Part II                               Crime       200
The Dark Knight                                     Action       152
Pulp Fiction                                         Crime       154
...                                                    ...       ...
Tootsie                                             Comedy       116
Back to the Future Part III                      Adventure       118
Master and Commander: The Far Side of the World     Action       138
Poltergeist                                         Horror       114
Wall Street                                          Crime       126

[979 rows x 2 columns]

In [123]:
resume = df.groupby('genre')[['duration', 'star_rating']].mean().sort_values(by='duration',ascending=False)

In [125]:
resume[resume['star_rating'] > 8]

             duration  star_rating
genre
Western    136.666667     8.255556
Film-Noir   97.333333     8.033333

In [128]:
#mÃ©thode sur une ligne

In [127]:
df.groupby('genre')[['duration', 'star_rating']].mean().sort_values(by='duration',ascending=False)[df.groupby('genre')[['duration', 'star_rating']].mean().sort_values(by='duration',ascending=False)['duration'] > 8]

             duration  star_rating
genre
Western    136.666667     8.255556
Adventure  134.840000     7.933333
Biography  131.844156     7.862338
Drama      126.539568     7.902518
Action     126.485294     7.884559
Crime      122.298387     7.916935
Mystery    115.625000     7.975000
Thriller   114.200000     7.680000
Fantasy    112.000000     7.700000
Sci-Fi     109.000000     7.920000
Comedy     107.602564     7.822436
Family     107.500000     7.850000
Horror     102.517241     7.806897
Film-Noir   97.333333     8.033333
Animation   96.596774     7.914516
History     66.000000     8.000000

# CrÃ©er des colonnes

In [129]:
df['new_col'] = 'coucou'

In [130]:
df

,star_rating,content_rating,genre,duration,actors_list,new_col
title,,,,,,
The Shawshank Redemption,9.3,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt...",coucou
The Godfather,9.2,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']",coucou
The Godfather: Part II,9.1,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv...",coucou
The Dark Knight,9.0,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E...",coucou
Pulp Fiction,8.9,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L....",coucou
...,...,...,...,...,...,...
Tootsie,7.4,PG,Comedy,116,"[u'Dustin Hoffman', u'Jessica Lange', u'Teri G...",coucou
Back to the Future Part III,7.4,PG,Adventure,118,"[u'Michael J. Fox', u'Christopher Lloyd', u'Ma...",coucou
Master and Commander: The Far Side of the World,7.4,PG-13,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo...",coucou
Poltergeist,7.4,PG,Horror,114,"[u'JoBeth Williams', u""Heather O'Rourke"", u'Cr...",coucou
Wall Street,7.4,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar...",coucou

In [131]:
df['2_star_rating'] = df['star_rating'] * 2

In [135]:
df

,star_rating,content_rating,genre,duration,actors_list,new_col,2_star_rating
title,,,,,,,
The Shawshank Redemption,9.3,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt...",coucou,18.6
The Godfather,9.2,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']",coucou,18.4
The Godfather: Part II,9.1,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv...",coucou,18.2
The Dark Knight,9.0,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E...",coucou,18.0
Pulp Fiction,8.9,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L....",coucou,17.8
...,...,...,...,...,...,...,...
Tootsie,7.4,PG,Comedy,116,"[u'Dustin Hoffman', u'Jessica Lange', u'Teri G...",coucou,14.8
Back to the Future Part III,7.4,PG,Adventure,118,"[u'Michael J. Fox', u'Christopher Lloyd', u'Ma...",coucou,14.8
Master and Commander: The Far Side of the World,7.4,PG-13,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo...",coucou,14.8
Poltergeist,7.4,PG,Horror,114,"[u'JoBeth Williams', u""Heather O'Rourke"", u'Cr...",coucou,14.8
Wall Street,7.4,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar...",coucou,14.8

In [136]:
df['3_star_rating'] = df['star_rating'].apply(lambda x: x * 3)

In [137]:
df

,star_rating,content_rating,genre,duration,actors_list,new_col,2_star_rating,3_star_rating
title,,,,,,,,
The Shawshank Redemption,9.3,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt...",coucou,18.6,27.9
The Godfather,9.2,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']",coucou,18.4,27.6
The Godfather: Part II,9.1,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv...",coucou,18.2,27.3
The Dark Knight,9.0,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E...",coucou,18.0,27.0
Pulp Fiction,8.9,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L....",coucou,17.8,26.7
...,...,...,...,...,...,...,...,...
Tootsie,7.4,PG,Comedy,116,"[u'Dustin Hoffman', u'Jessica Lange', u'Teri G...",coucou,14.8,22.2
Back to the Future Part III,7.4,PG,Adventure,118,"[u'Michael J. Fox', u'Christopher Lloyd', u'Ma...",coucou,14.8,22.2
Master and Commander: The Far Side of the World,7.4,PG-13,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo...",coucou,14.8,22.2
Poltergeist,7.4,PG,Horror,114,"[u'JoBeth Williams', u""Heather O'Rourke"", u'Cr...",coucou,14.8,22.2
Wall Street,7.4,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar...",coucou,14.8,22.2

In [138]:
eval("['toto', 'titi']")

['toto', 'titi']

In [139]:
eval('3 + 6')

9

In [ ]:
eval('')

In [140]:
df['main_actor'] = df['actors_list'].apply(lambda x: eval(x)[0])

In [141]:
df

,star_rating,content_rating,genre,duration,actors_list,new_col,2_star_rating,3_star_rating,main_actor
title,,,,,,,,,
The Shawshank Redemption,9.3,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt...",coucou,18.6,27.9,Tim Robbins
The Godfather,9.2,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']",coucou,18.4,27.6,Marlon Brando
The Godfather: Part II,9.1,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv...",coucou,18.2,27.3,Al Pacino
The Dark Knight,9.0,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E...",coucou,18.0,27.0,Christian Bale
Pulp Fiction,8.9,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L....",coucou,17.8,26.7,John Travolta
...,...,...,...,...,...,...,...,...,...
Tootsie,7.4,PG,Comedy,116,"[u'Dustin Hoffman', u'Jessica Lange', u'Teri G...",coucou,14.8,22.2,Dustin Hoffman
Back to the Future Part III,7.4,PG,Adventure,118,"[u'Michael J. Fox', u'Christopher Lloyd', u'Ma...",coucou,14.8,22.2,Michael J. Fox
Master and Commander: The Far Side of the World,7.4,PG-13,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo...",coucou,14.8,22.2,Russell Crowe
Poltergeist,7.4,PG,Horror,114,"[u'JoBeth Williams', u""Heather O'Rourke"", u'Cr...",coucou,14.8,22.2,JoBeth Williams
Wall Street,7.4,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar...",coucou,14.8,22.2,Charlie Sheen

In [147]:
def lenght_movie (toto):
    if toto > 120:
        return 'long_movie'
    else:
        return 'short_movie'

In [148]:
df['lenght_movie'] = df['duration'].apply(lambda x : lenght_movie(x))

In [149]:
df

,star_rating,content_rating,genre,duration,actors_list,new_col,2_star_rating,3_star_rating,main_actor,lenght_movie
title,,,,,,,,,,
The Shawshank Redemption,9.3,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt...",coucou,18.6,27.9,Tim Robbins,long_movie
The Godfather,9.2,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']",coucou,18.4,27.6,Marlon Brando,long_movie
The Godfather: Part II,9.1,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv...",coucou,18.2,27.3,Al Pacino,long_movie
The Dark Knight,9.0,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E...",coucou,18.0,27.0,Christian Bale,long_movie
Pulp Fiction,8.9,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L....",coucou,17.8,26.7,John Travolta,long_movie
...,...,...,...,...,...,...,...,...,...,...
Tootsie,7.4,PG,Comedy,116,"[u'Dustin Hoffman', u'Jessica Lange', u'Teri G...",coucou,14.8,22.2,Dustin Hoffman,short_movie
Back to the Future Part III,7.4,PG,Adventure,118,"[u'Michael J. Fox', u'Christopher Lloyd', u'Ma...",coucou,14.8,22.2,Michael J. Fox,short_movie
Master and Commander: The Far Side of the World,7.4,PG-13,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo...",coucou,14.8,22.2,Russell Crowe,long_movie
Poltergeist,7.4,PG,Horror,114,"[u'JoBeth Williams', u""Heather O'Rourke"", u'Cr...",coucou,14.8,22.2,JoBeth Williams,short_movie
Wall Street,7.4,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar...",coucou,14.8,22.2,Charlie Sheen,long_movie

In [150]:
df['lenght_movie'] = df['duration'].apply(lenght_movie)

In [151]:
df

,star_rating,content_rating,genre,duration,actors_list,new_col,2_star_rating,3_star_rating,main_actor,lenght_movie
title,,,,,,,,,,
The Shawshank Redemption,9.3,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt...",coucou,18.6,27.9,Tim Robbins,long_movie
The Godfather,9.2,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']",coucou,18.4,27.6,Marlon Brando,long_movie
The Godfather: Part II,9.1,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv...",coucou,18.2,27.3,Al Pacino,long_movie
The Dark Knight,9.0,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E...",coucou,18.0,27.0,Christian Bale,long_movie
Pulp Fiction,8.9,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L....",coucou,17.8,26.7,John Travolta,long_movie
...,...,...,...,...,...,...,...,...,...,...
Tootsie,7.4,PG,Comedy,116,"[u'Dustin Hoffman', u'Jessica Lange', u'Teri G...",coucou,14.8,22.2,Dustin Hoffman,short_movie
Back to the Future Part III,7.4,PG,Adventure,118,"[u'Michael J. Fox', u'Christopher Lloyd', u'Ma...",coucou,14.8,22.2,Michael J. Fox,short_movie
Master and Commander: The Far Side of the World,7.4,PG-13,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo...",coucou,14.8,22.2,Russell Crowe,long_movie
Poltergeist,7.4,PG,Horror,114,"[u'JoBeth Williams', u""Heather O'Rourke"", u'Cr...",coucou,14.8,22.2,JoBeth Williams,short_movie
Wall Street,7.4,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar...",coucou,14.8,22.2,Charlie Sheen,long_movie

In [152]:
# supprimer une colonne

df.drop('new_col', axis=1, inplace=True)

In [153]:
df

,star_rating,content_rating,genre,duration,actors_list,2_star_rating,3_star_rating,main_actor,lenght_movie
title,,,,,,,,,
The Shawshank Redemption,9.3,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt...",18.6,27.9,Tim Robbins,long_movie
The Godfather,9.2,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']",18.4,27.6,Marlon Brando,long_movie
The Godfather: Part II,9.1,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv...",18.2,27.3,Al Pacino,long_movie
The Dark Knight,9.0,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E...",18.0,27.0,Christian Bale,long_movie
Pulp Fiction,8.9,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L....",17.8,26.7,John Travolta,long_movie
...,...,...,...,...,...,...,...,...,...
Tootsie,7.4,PG,Comedy,116,"[u'Dustin Hoffman', u'Jessica Lange', u'Teri G...",14.8,22.2,Dustin Hoffman,short_movie
Back to the Future Part III,7.4,PG,Adventure,118,"[u'Michael J. Fox', u'Christopher Lloyd', u'Ma...",14.8,22.2,Michael J. Fox,short_movie
Master and Commander: The Far Side of the World,7.4,PG-13,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo...",14.8,22.2,Russell Crowe,long_movie
Poltergeist,7.4,PG,Horror,114,"[u'JoBeth Williams', u""Heather O'Rourke"", u'Cr...",14.8,22.2,JoBeth Williams,short_movie
Wall Street,7.4,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar...",14.8,22.2,Charlie Sheen,long_movie

In [154]:
#null value

In [156]:
data = pd.read_csv('class-grades.csv')
data

    Prefix  Assignment  Tutorial  Midterm TakeHome  Final
0        5       57.14     34.09    64.38    51.48   52.5
1        8       95.05    105.49    67.50    99.07  68.33
2        8       83.70     83.17    30.00    63.15  48.89
3        7       81.22     96.06    49.38   105.93  80.56
4        8       91.32     93.64    95.00   107.41  73.89
..     ...         ...       ...      ...      ...    ...
94       8       96.73    103.71    45.00    93.52  61.94
95       7       85.34     80.54    41.25     93.7  39.72
96       8       89.94    102.77    87.50    90.74  87.78
97       7       95.60     76.13    66.25    99.81  85.56
98       8       63.40     97.37    73.12    72.78  77.22

[99 rows x 6 columns]

In [158]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Prefix      99 non-null     int64
 1   Assignment  99 non-null     float64
 2   Tutorial    99 non-null     float64
 3   Midterm     99 non-null     float64
 4   TakeHome    99 non-null     object
 5   Final       99 non-null     object
dtypes: float64(3), int64(1), object(2)
memory usage: 4.8+ KB

In [159]:
data = pd.read_csv('class-grades.csv', na_values='?')
data

    Prefix  Assignment  Tutorial  Midterm  TakeHome  Final
0        5       57.14     34.09    64.38     51.48  52.50
1        8       95.05    105.49    67.50     99.07  68.33
2        8       83.70     83.17    30.00     63.15  48.89
3        7       81.22     96.06    49.38    105.93  80.56
4        8       91.32     93.64    95.00    107.41  73.89
..     ...         ...       ...      ...       ...    ...
94       8       96.73    103.71    45.00     93.52  61.94
95       7       85.34     80.54    41.25     93.70  39.72
96       8       89.94    102.77    87.50     90.74  87.78
97       7       95.60     76.13    66.25     99.81  85.56
98       8       63.40     97.37    73.12     72.78  77.22

[99 rows x 6 columns]

In [160]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Prefix      99 non-null     int64
 1   Assignment  99 non-null     float64
 2   Tutorial    99 non-null     float64
 3   Midterm     99 non-null     float64
 4   TakeHome    98 non-null     float64
 5   Final       96 non-null     float64
dtypes: float64(5), int64(1)
memory usage: 4.8 KB

In [ ]:
data.fillna('coucou') #replace null value

In [170]:
data.dropna(inplace=True) #toute les lignes avec des valeurs null

    Prefix  Assignment  Tutorial  Midterm  TakeHome  Final
0        5       57.14     34.09    64.38     51.48  52.50
1        8       95.05    105.49    67.50     99.07  68.33
2        8       83.70     83.17    30.00     63.15  48.89
3        7       81.22     96.06    49.38    105.93  80.56
4        8       91.32     93.64    95.00    107.41  73.89
..     ...         ...       ...      ...       ...    ...
94       8       96.73    103.71    45.00     93.52  61.94
95       7       85.34     80.54    41.25     93.70  39.72
96       8       89.94    102.77    87.50     90.74  87.78
97       7       95.60     76.13    66.25     99.81  85.56
98       8       63.40     97.37    73.12     72.78  77.22

[95 rows x 6 columns]

In [ ]:
## convetir une colonne

In [162]:
data['Final'].astype(int)

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer

In [168]:
df['star_rating'] = df['star_rating'].astype(int)

In [169]:
df

,star_rating,content_rating,genre,duration,actors_list,2_star_rating,3_star_rating,main_actor,lenght_movie
title,,,,,,,,,
The Shawshank Redemption,9,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt...",18.6,27.9,Tim Robbins,long_movie
The Godfather,9,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']",18.4,27.6,Marlon Brando,long_movie
The Godfather: Part II,9,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv...",18.2,27.3,Al Pacino,long_movie
The Dark Knight,9,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E...",18.0,27.0,Christian Bale,long_movie
Pulp Fiction,8,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L....",17.8,26.7,John Travolta,long_movie
...,...,...,...,...,...,...,...,...,...
Tootsie,7,PG,Comedy,116,"[u'Dustin Hoffman', u'Jessica Lange', u'Teri G...",14.8,22.2,Dustin Hoffman,short_movie
Back to the Future Part III,7,PG,Adventure,118,"[u'Michael J. Fox', u'Christopher Lloyd', u'Ma...",14.8,22.2,Michael J. Fox,short_movie
Master and Commander: The Far Side of the World,7,PG-13,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo...",14.8,22.2,Russell Crowe,long_movie
Poltergeist,7,PG,Horror,114,"[u'JoBeth Williams', u""Heather O'Rourke"", u'Cr...",14.8,22.2,JoBeth Williams,short_movie
Wall Street,7,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar...",14.8,22.2,Charlie Sheen,long_movie

In [172]:
# Let's create two series
s1 = pd.Series(['apple', 'orange', 'banana'],
               index=[1, 2, 4])
s2 = pd.Series(['pineapple', 'wildberry', 'raspberry'],
               index=[3, 2, 6])

print(s1)
print('---------------')
print('---------------')
print(s2)

1     apple
2    orange
4    banana
dtype: object
---------------
---------------
3    pineapple
2    wildberry
6    raspberry
dtype: object

In [173]:
pd.concat([s1, s2], axis=0)

1        apple
2       orange
4       banana
3    pineapple
2    wildberry
6    raspberry
dtype: object

In [174]:
pd.concat([s1, s2], axis=1)

        0          1
1   apple        NaN
2  orange  wildberry
4  banana        NaN
3     NaN  pineapple
6     NaN  raspberry

In [175]:
#merge == Jointure


# Let's create two new dataframes
meal = ['pizza', 'pasta', 'burger']
prices = [11.8, 12.9, 15.60]
calories = [870, 790, 950]

prices = pd.DataFrame({'meal': meal, 'price': prices})
calories = pd.DataFrame({'meal': meal, 'calories': calories})

In [178]:
prices

     meal  price
0   pizza   11.8
1   pasta   12.9
2  burger   15.6

In [177]:
calories

     meal  calories
0   pizza       870
1   pasta       790
2  burger       950

In [179]:
prices.merge(calories)

     meal  price  calories
0   pizza   11.8       870
1   pasta   12.9       790
2  burger   15.6       950

In [180]:
prices.merge(calories, how='inner', left_on='meal', right_on='meal')

     meal  price  calories
0   pizza   11.8       870
1   pasta   12.9       790
2  burger   15.6       950

In [181]:

# Let's create two new dataframes
meal = ['pizza', 'pasta', 'burger']
prices = [11.8, 12.9, 15.60]
calories = [870, 790, 950]

prices = pd.DataFrame({'meal': meal, 'price': prices})
calories = pd.DataFrame({'food': meal, 'calories': calories})

In [182]:
prices

     meal  price
0   pizza   11.8
1   pasta   12.9
2  burger   15.6

In [183]:
calories

     food  calories
0   pizza       870
1   pasta       790
2  burger       950

In [186]:
joined = prices.merge(calories, how='inner', left_on='meal', right_on='food')
joined

     meal  price    food  calories
0   pizza   11.8   pizza       870
1   pasta   12.9   pasta       790
2  burger   15.6  burger       950

# Save the DataFrame

In [187]:
joined.to_csv('joined.csv')